 <ActionBar class="action-bar" text="Profile">
</ActionBar>
<!--
<StackLayout orientation="vertical" class="stackLayoutClass">
    <TextField   
    [text]="name"
    (textChange)="onTestChange($event)" 
    hint="search provider"
    class="input input-border" ></TextField>
<StackLayout>
        <ListView [items]="organizations" (itemTap)="onItemTap($event)" class="list-group">
                <ng-template let-organization="item " let-i="index" let-odd="odd" let-even="even">
                    <StackLayout orientation="vertical" class="list-group-item">
                        <Label [text]="organization.tradingName" [nsRouterLink]="['../payment', organization.uID,organization.tradingName]"></Label>
                    </StackLayout>
                </ng-template>
            </ListView> 
    
</StackLayout>
<StackLayout class="p-20">
        <Label text="OR" class="h1 text-center"></Label>
        <Button text="SCAN" (tap)="onScan()" class="btn btn-primary btn-active"></Button>
    
    </StackLayout>
</StackLayout>

    -->
    