
<ActionBar class="action-bar" title="Payments">
    <NavigationButton class="backwardIcon"  android.systemIcon="ic_menu_back" (tap)="goBack()" tap="onNavBtnTap"></NavigationButton>
</ActionBar>
<ScrollView orientation="vertical">
<StackLayout orientation="vertical" class="stackLayoutClass">
    <StackLayout>
        <Label class="h3" text="You are paying:{{tradingName}}"  style="margin-right:15px;"></Label>
    </StackLayout>
    <StackLayout>
            <!-- <TextField hint="Input border rounded"  [(ngModel)]="customerId" class="input rounded "></TextField> -->
            
            <TextField   
            [(ngModel)]="customerId"
            hint="Enter Customer Id"
            class="input rounded" #customeIdField="ngModel" ></TextField>
            <Button class="btn btn-primary btn-rounded-lg" id="button" text="Search" disabled ="{{!customeIdField.valid}}" (tap)="onSearchBill($event)" >search</Button>
    </StackLayout>
    <StackLayout *ngIf="noRecords"> 
        <StackLayout >          
            <Label class="h3" style="text-align:center" text="No Records found with this id"></Label>
        </StackLayout>
        </StackLayout>
   <StackLayout *ngIf="onSearch">
            <StackLayout>
                    <Label class="h3" [text]="'Customer Name:'+customerName"></Label>
                </StackLayout>

            <StackLayout>
                    <Label class="h3 " [text]="'Customer Phone No:'+phoneNo"></Label>
                </StackLayout>
  
    <StackLayout>
            <Label class="h3 " [text]="'Customer Email:'+email"></Label>
    </StackLayout>
   

    <RadListView [items]="billerDetailsList" selectionBehavior="Press" >
            
           <ng-template tkListItemTemplate let-billerDetail="item" let-index="index">  
               <StackLayout orientation="vertical" class="stackClass">
                   <GridLayout  rows="auto" columns="*,*,*" class="gridClass">
                    <checkbox:CheckBox col="0" [bill]="billerDetail"
                            (checkedChange)="onBillTapped($event)" 
                       [(ngModal)]='billerDetail.checked' ></checkbox:CheckBox>
                   <Label class="nameLabel" [text]="billerDetail.amount"  col="1" ></Label>
                   <Label class="nameLabel" [text]="billerDetail.dueDate  | date: 'dd/MM/yyyy'"   col="2" ></Label>
               </GridLayout>
               </StackLayout>
           </ng-template>
           <ng-template tkListViewHeader>
               <GridLayout rows="*" columns="*,*,*" strech="full" class="gridHeaderClass">
                   <Label text="Amount" col="1" class="header"></Label>
                   <Label text="Due Date" col="2" class="header"></Label>
               </GridLayout>
               </ng-template>
               <ng-template tkListViewFooter >
                    <GridLayout rows="*" columns="*,*,*" strech="full" class="gridHeaderClass">
                    <Label text="Amount" col="1" class="header"></Label>
                    <Label text="{{totalBillAmount}}" col="2" class="header"></Label>
                    </GridLayout>
               </ng-template>
       </RadListView>
    </StackLayout>
      <StackLayout  *ngIf="onSearch">
      <Button class="btn btn-primary btn-active"  
      id="button" text="pay" (tap)="Onpay()"></Button>
      </StackLayout>
</StackLayout>
</ScrollView>