<ActionBar class="action-bar">
    <NavigationButton [nsRouterLink]="['../../home']" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" [text]="item.name">test</Label>
</ActionBar>

<GridLayout>
    <Label class="m-10 h3" verticalAlignment="top" [text]="item.description"></Label>
</GridLayout>