<ActionBar class="action-bar" title="Payments">
      <NavigationButton class="backwardIcon"  android.systemIcon="ic_menu_back" (tap)="goBack()" tap="onNavBtnTap"></NavigationButton>
</ActionBar>

<CardView  class="stackLayoutClass" radius="3">
<form #payemntForm="ngForm">
    <ScrollView orientation="vertical">
      <StackLayout  orientation="vertical" class="dropdownStack">
          <StackLayout>
              <Label  text="you are paying to : {{tradingName}}" style="color:black" fontSize="15" ></Label>   
          </StackLayout>
      <StackLayout>
        <DropDown #dd{{i}} *ngFor="let child of categoryChildren; let i=index"
        [items]="child.valueList" 
        (selectedIndexChanged)="loadChildren($event,child,i)"
        [hint]="hint"
        colspan="2" class="dropdown">
      </DropDown>
          </StackLayout>
        
   <StackLayout *ngIf="showPaymentConfiguration">
    <StackLayout  style="border:1px soild black" >
      <GridLayout strech="full" class="gridHeaderClass">
        <Label class="page-placeholder" text="Payment Configuration"style="color:black"></Label>   
      </GridLayout> 

          <Label class="page-placeholder" style="margin-top:20px;" text="Amount: {{paymentConfig.amount}}">*</Label>  
         
      </StackLayout>  

      <StackLayout *ngFor="let field of dataConfigsDTOs;let i=index" class="list-group-item">
        
          <Label class="page-placeholder" style="color:red" text="{{field.name}}" *ngIf="field.mandatory=='MANDATORY'" >*</Label>
          <TextField  *ngIf="field.mandatory=='MANDATORY'" hint="Enter text" autocorrect="false"  class="input input-border"  #dataCaptureField="ngModel" name="data{{i}}" [(ngModel)]="field.data"  required></TextField>
          
              <label class="page-placeholder" *ngIf="field.mandatory=='OPTIONAL'"text="{{field.name}}" ></label>
           
              <TextField *ngIf="field.mandatory=='OPTIONAL'" hint="Enter text" autocorrect="false"  class="input input-border" name="data{{i}}" [(ngModel)]="field.data"></TextField>
           
        
      </StackLayout>
      <StackLayout>
      <Button class="btn btn-primary btn-active"  [disabled]="!this.payemntForm.valid" 
      [ngClass]="{'btn-disabled':!payemntForm.valid,'disabled':!payemntForm.valid}" id="button" width="100%" text="pay" (tap)="initiatePayment($event)"></Button>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>
    </form>
    </CardView>




