<RadSideDrawer [drawerTransition]="sideDrawerTransition">
        <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
            <StackLayout row="0" class="sidedrawer-header">
                <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
                <Label class="sidedrawer-header-brand" text="User Name"></Label>
                <Label class="footnote" text="username@mail.com"></Label>
            </StackLayout>
        
            <ScrollView row="1">
                <StackLayout class="sidedrawer-content">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                        <Label col="0" text="&#xf015;" class="fa"></Label>
                        <Label col="1" text="Home" class="p-r-10"></Label>
                    </GridLayout>
    
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/browse')" (tap)="onNavItemTap('/browse')">
                        <Label col="0" text="&#xf1ea;" class="fa"></Label>
                        <Label col="1" text="Browse" class="p-r-10"></Label>
                    </GridLayout>
    
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                        <Label col="0" text="&#xf002;" class="fa"></Label>
                        <Label col="1" text="Search" class="p-r-10"></Label>
                    </GridLayout>
    
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                        <Label col="0" text="&#xf005;" class="fa"></Label>
                        <Label col="1" text="Featured" class="p-r-10"></Label>
                    </GridLayout>
        
                    <StackLayout class="hr-light"></StackLayout>
    
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                        <Label col="0" text="&#xf013;" class="fa"></Label>
                        <Label col="1" text="Settings" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
        <StackLayout tkMainContent>
                <GridLayout rows="" columns="">
        <TabView androidTabsPosition="bottom">
                
                    <!-- <page-router-outlet
                        *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
                        name="homeTab" class="active"  android.systemIcons="ic_menu_home">
                    </page-router-outlet> -->
                
                    <page-router-outlet
                        *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
                        name="browseTab" >
                    </page-router-outlet>
                
                    <page-router-outlet
                        *tabItem="{title: 'Biller', iconSource: getIconSource('billing')}"
                        name="searchTab">
                    </page-router-outlet>
            
                    <page-router-outlet
                    *tabItem="{title: 'Profile', iconSource: getIconSource('payment')}"
                    name="paymentTab"> 
                                                        <!-- payment is named as profile -->
                </page-router-outlet>
                
            </TabView>
        </GridLayout>
        <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label>
        <Button text="OPEN DRAWER" (tap)="openDrawer()" class="drawerContentButton"></Button>
    </StackLayout>
    </RadSideDrawer>




