<TabView androidTabsPosition="bottom">
    
        <page-router-outlet
            *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
            name="homeTab">
        </page-router-outlet>
    
        <page-router-outlet
            *tabItem="{title: 'Browse', iconSource: getIconSource('browse')}"
            name="browseTab">
        </page-router-outlet>
    
        <page-router-outlet
            *tabItem="{title: 'Search', iconSource: getIconSource('search')}"
            name="searchTab">
        </page-router-outlet>
    
    </TabView>