<ActionBar class="action-bar" >
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" text="imoney"></Label>
</ActionBar>
<StackLayout orientation="vertical">
    <CardView class="stackLayoutClass" radius="3">
        <StackLayout>
            <Button text="SCAN" (tap)="onScan()" class="btn btn-primary btn-rounded-lg"></Button>
            <Label text="or" style="text-align: center"></Label>
            <TextField [text]="name" (textChange)="onTextChange($event)" hint="search provider" style="margin:30px;"
                class="input input-border"></TextField>
            <ListView [items]="organizations" (itemTap)="onItemTap($event)" class="list-group">
                <ng-template let-organization="item " let-i="index" let-odd="odd" let-even="even">
                    <StackLayout orientation="vertical" class="list-group-item">
                        <Label [text]="organization.tradingName" [nsRouterLink]="['../payment', organization.uID,organization.tradingName]"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </CardView>
</StackLayout>

<!-- <ScrollView orientation="horizontal">
    <GridLayout rows="auto" columns="," class="list-group-item" >
        <StackLayout class="list-group-item" >
            <Image src="res://business" stretch="none" width="50" height="50" class="scrollTitle" [nsRouterLink]="['../payment', list.uID,list.tradingName]"></Image>
            <Label class="scroll" textWrap="true" [text]="list.name"></Label>
        </StackLayout> 
    </GridLayout>
</ScrollView> -->