<ActionBar class="action-bar" title="Biller Details">
    <NavigationButton class="backwardIcon"  android.systemIcon="ic_menu_back" (tap)="goBack()" tap="onNavBtnTap"></NavigationButton>
</ActionBar>
<StackLayout orientation="vertical" class="stackLayoutClass">
    <Stacklayout>
    <Label text ="{{tradingName}}"></Label>
</Stacklayout>
<StackLayout>
        <StackLayout class="input-field">
                <TextField  hint="Amount" keyboardType="number" autocorrect="false" class="input input-border"></TextField>
        </StackLayout>
</StackLayout>
<StackLayout>
        <Button text="Pay" (tap)="onPay()" class="btn btn-primary btn-active"></Button>        
</StackLayout>
</StackLayout>