@import '~nativescript-theme-core/css/core.light.css';
@import './custom.css'; 



.btn {
    font-size: 18;
}
.font {
   font-family: 'FontAwesome,fontawesome-webfont';
   font-size: 28;
}

.action-bar{
    background-color:#4099ff;
    color:#fff
}
/* .page-placeholder{
    font-size:16px;
    font-weight:bold;
} */
.stackLayoutClass{
 margin:20px;
 box-shadow:1px;
}
/* .action-bar-title{
text-align: center;
}
.backwardIcon{
    color:white;
}
#container{
    border-radius: 20px;
    height:200;
    margin-left:20;
    margin-right:20;
    margin-top:10;
    padding:20;
    background-color:black;
}
.noRecordCard{
    height: 50px;
    margin:20px;
    box-shadow:1px;
    text-align: center;
} */

