<!-- <ActionBar class="action-bar">
    <Label class="action-bar-title" text="Biller"></Label>
</ActionBar>
<ScrollView orientation="vertical"> 
  <StackLayout class="stackLayoutClass">
      <GridLayout>
 <StackLayout class="stackclass" orientation="vertical">
  <DropDown #dd [class]="cssClass"  [items]="items" [(ngModel)]="selectedIndex"[hint]="hint"(selectedIndexChanged)="onchange($event)"
 row="0"colSpan="2"></DropDown>
                       
        <TextField hint="Customer Income" autocorrect="false"  class="input input-border" required>
        </TextField>

       <TextField hint="Customer Number" autocorrect="false"  class="input input-border" required></TextField>

       <TextField hint="Enter text" autocorrect="false"  class="input input-border" required></TextField>

       <Label class="page-placeholder h3" text="Biller"></Label>
       <TextField hint="Enter text" autocorrect="false"  class="input input-border" required></TextField>
       
    </StackLayout>
      </GridLayout>
      


       <RadListView [items]="items" selectionBehavior="Press"    multipleSelection="true" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
            
           <ng-template tkListItemTemplate let-item="item">  
               <StackLayout orientation="vertical" class="stackClass">
                   <GridLayout  rows="auto" columns="*,*,*" class="gridClass">
                   <Label class="nameLabel" [text]="item.name"  col="0" ></Label>
                   <Label class="nameLabel" [text]="item.name"   col="1" ></Label>
                   <Label class="nameLabel" [text]="item.name"   col="2" ></Label>
               </GridLayout>
               </StackLayout>
           </ng-template>
           <ng-template tkListViewHeader>
                  
               <GridLayout rows="*" columns="*,*,*" strech="full" class="gridHeaderClass">
                   <Label text="Name" col="0" class="header"></Label>
                   <Label text="Age" col="1" class="header"></Label>
                   <Label text="Gender" col="2" class="header"></Label>
               </GridLayout>
         
               </ng-template>
       </RadListView>
       
       <Button class="btn btn-primary btn-active" id="button" text="Save" (tap)="onTap($event)"></Button>
       
  </StackLayout>

</ScrollView> -->
<ActionBar class="action-bar" title="Biller">
      
        
</ActionBar>
<ScrollView orientation="vertical">
    <StackLayout class="stackLayoutClass" orientation="vertical">
            <TextField   
            [text]="name"
            (textChange)="onTestChange($event)" 
            hint="search provider"
            class="input input-border"></TextField>

            <StackLayout>
            <ListView [items]="organizations" (itemTap)="onItemTap($event)" class="list-group">
                    <ng-template let-organization="item " let-i="index" let-odd="odd" let-even="even">
                        <StackLayout orientation="vertical" class="list-group-item">
                            <Label [text]="organization.tradingName" [nsRouterLink]="['../billerdetails', organization.uID,organization.tradingName]"></Label>
                        </StackLayout>
                    </ng-template>
                </ListView> 
        
    </StackLayout>
    </StackLayout>

</ScrollView>