<!-- <ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>


    <RadListView [items]="items" selectionBehavior="Press"    multipleSelection="true" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
         
        <ng-template tkListItemTemplate let-item="item">  
            <StackLayout orientation="vertical" class="stackClass">
                   
                <GridLayout  rows="auto" columns="*,*,*" class="gridClass">
                <Label class="nameLabel" [text]="item.name"  col="0" ></Label>
                <Label class="nameLabel" [text]="item.name"   col="1" ></Label>
                <Label class="nameLabel" [text]="item.name"   col="2" ></Label>
            </GridLayout>
            </StackLayout>
        </ng-template>
        <ng-template tkListViewHeader>
               
            <GridLayout rows="*" columns="*,*,*" strech="full" class="gridHeaderClass">
                <Label text="header" col="0" class="header"></Label>
                <Label text="header" col="1" class="header"></Label>
                <Label text="header" col="2" class="header"></Label>
            </GridLayout>
      
            </ng-template>
    </RadListView> -->

<!-- <ListView class="list-group" [items]="items" selectionBehavior="Press" multipleSelection="true" (itemTap)="onItemTapSecondList($event)" separatorColor="gray">
        <ng-template let-item="item">
            <StackLayout class="list-group-item">
                    <GridLayout class="listView" row="*" columns="," >
                <Label [text]="item.name" row="*,*" col="1"  class="list-group-item-heading"></Label>
                <Label [text]="item.shortcutName" class="list-group-item-text" row="," col="2" textWrap="true"></Label>
            </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView> -->